@import 'variables'

body
  background-color: #eee
  font-family: 'Roboto', sans-serif
  font-weight: 300
  color: $red

  .test
    font-size: 20px

h1
  color: lightblue !important
  font-size: 58px
  border: 1px solid lightblue
  padding: 40px
  max-width: 400px
  margin: 0 auto