.l-wrap
  position: relative
  max-width: calculateRem(1228px)
  margin: 0 auto
  padding: 0 calculateRem(14px)
  //background: susy-svg-grid() no-repeat scroll
  +clearfix
  &__vertical-align
    +vertical-align

.l-page-section
  padding: calculateRem(134px) 0