<!-- HEADER
============================================================== -->
<header class="c-site-header">
  <div class="l-wrap">
    <h1 class="o-logo o-logo--vertical-align u-pull-left">
      <a href="#" class="o-logo__link">
        <img src="assets/images/logo.png" alt="Albedo logo" class="o-logo__image">
        <span class="o-logo__text">Albedo</span>
      </a>
    </h1>
    <a href="#" class="o-button o-button--align-vertical o-button--margin-top u-pull-right">Buy it now!</a>
    <nav class="o-main-navigation o-main-navigation--margin-right o-main-navigation--margin-top u-pull-right">
      <ul class="o-main-navigation__list">
        <li class="o-main-navigation__list-item"><a href="#">Intro</a></li>
        <li class="o-main-navigation__list-item"><a href="#">About me</a></li>
        <li class="o-main-navigation__list-item"><a href="#">Portfolio</a></li>
        <li class="o-main-navigation__list-item"><a href="#">Clients</a></li>
        <li class="o-main-navigation__list-item"><a href="#">Blog</a></li>
        <li class="o-main-navigation__list-item"><a href="#">Contacts</a></li>
      </ul>
    </nav>
  </div>
</header>