<!-- HEADER
============================================================== -->
<header class="c-site-header">
  <div class="l-wrap">
    <h1 class="o-logo o-logo--vertical-align">
      <a href="#" class="o-logo__link">
        <img src="assets/images/logo.png" alt="Albedo logo" class="o-logo__image">
        <span class="o-logo__text">Albedo</span>
      </a>
    </h1>
    <div class="c-site-header__menu-icon c-site-header__menu-icon--show-until-medium jsMenuIcon">
      <span class="c-site-header__menu-icon-bar"></span>
    </div>
    <div class="c-site-header__menu-content">
      <a href="#" class="o-button o-button--mobile">Buy it now!</a>
      <nav class="o-navigation o-navigation--mobile">
        <ul class="o-navigation__list">
          <li class="o-navigation__list-item"><a href="#">Intro</a></li>
          <li class="o-navigation__list-item"><a href="#">About me</a></li>
          <li class="o-navigation__list-item"><a href="#">Portfolio</a></li>
          <li class="o-navigation__list-item"><a href="#">Clients</a></li>
          <li class="o-navigation__list-item"><a href="#">Blog</a></li>
          <li class="o-navigation__list-item"><a href="#">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>