<!-- HERO
============================================================== -->
<section class="c-site-hero">
  <div class="l-wrap l-wrap__vertical-align">
    <div class="c-site-hero__content">
      <h3 class="c-site-hero__greeting">Hi there!</h3>
      <h2 class="c-site-hero__intro">My name is <span class="c-site-hero__name">Raul</span></h2>
      <h3 class="c-site-hero__job-title">I'm a Web Developer</h3>
      <p class="c-site-hero__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sapiente.</p>
      <button class="o-button o-button--bg-dark o-button--no-border o-button--color-white o-button--box-shadow o-button--more-padding o-button--more-border-radius">About me</button>
    </div>
  </div>
</section>